<!-- /snippets/collection-filters-sidebar.liquid -->
{% comment %}
  The collection sidebar containing tag filering and link-based navigation

  * collection {object} - The current collection
  * section {object} - The current section

  {% render 'collection-filters-sidebar', section: section, collection: collection %}
{% endcomment %}

{% comment %}
{%- assign collection_handle = 'all' -%}
{%- if collection.handle -%}
  {%- assign collection_handle = collection.handle -%}
{%- endif -%}

{%- assign filter_count = 0 -%}
{%- capture filter_clears -%}
  {%- for filter in collection.filters -%}
    {% if filter.type == "price_range" %}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        {%- assign filter_count = filter_count | plus: 1 -%}
        <a class="active__filters__remove" href="{{ filter.url_to_remove }}">
          {%- assign min_value = filter.min_value.value | default: 0 -%}
          {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
          {{ min_value | money_without_trailing_zeros }} - {{ max_value | money_without_trailing_zeros }} X
        </a>
      {%- endif -%}
    {% else %}
      {%- for filter_value in filter.active_values -%}
        {%- assign filter_count = filter_count | plus: 1 -%}
        <a class="active__filters__remove" href="{{ filter_value.url_to_remove }}">
          {{ filter_value.label }} <span class="filter__x">X</span>
        </a>
      {%- endfor -%}
    {% endif %}
  {%- endfor -%}
{%- endcapture -%}

{%- if filter_count > 0 -%}
  <div class="collection__active__filters">
    {%- if filter_count > 1 -%}
      <a href="{{ collection.url }}" class="active__filters__clear">{{ 'collections.sidebar.all_tags' | t }}</a>
    {%- endif -%}
    {{ filter_clears }}
  </div>
{%- endif -%}

{%- for block in section.blocks -%}
  {%- case block.type -%}

  {%- when 'filters' -%}
    <form data-sidebar-filter-form>
      
      {% if collection.current_type %}
      	<input type="hidden" name="q" value="{{ collection.current_type }}">
      {% endif %}
      {% if collection.current_vendor %}
      	<input type="hidden" name="q" value="{{ collection.current_vendor }}">
      {% endif %}  

      {%- for filter in collection.filters -%}
        {% render 'filters', block: block, filter: filter %}
      {%- endfor -%}
    </form>
    
  {%- when 'nav_links' -%}
    {% unless block.settings.collection_linklist == blank or block.settings.collection_linklist.empty? %}
      {% assign custom_nav_list = block.settings.collection_linklist | handleize %}
      <div class="sidebar__filter__group" {{ block.shopify_attributes }}>
        <button class="sidebar__heading accordion-is-open"
          data-accordion-trigger="accordion-{{ block.id }}-{{ forloop.index }}"
          aria-controls="accordion-{{ block.id }}-{{ forloop.index }}"
          aria-haspopup="true" 
          aria-expanded="true"
        >
          <span>{{ linklists[custom_nav_list].title }}</span>

          <span class="sidebar__heading-chevron">
            {% render 'icon-arrow-medium-right' %}
            <span class="a11y__show visually-hidden">{{ 'general.accessibility.expand_menu' | t }}</span>
            <span class="a11y__hide visually-hidden">{{ 'general.accessibility.hide_menu' | t }}</span>
          </span>
        </button>

        <div class="sidebar__navigation__list" data-accordion-body id="accordion-{{ block.id }}-{{ forloop.index }}">
          {% for link in linklists[custom_nav_list].links %}
            {% if link.links == blank %}
              <div class="sidebar__item {% if link.active %} sidebar__item--active{% endif %} {% if forloop.index > 10 %} is-hidden{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% render 'icon-box' %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        {% if linklists[custom_nav_list].links.size > 10 %}
          <button type="button" data-show-more>{{ 'collections.sidebar.show_more' | t }}</button>
        {% endif %}
      </div>

      {% for link in linklists[custom_nav_list].links %}
        {% if link.links != blank %}
        <div class="sidebar__filter__group">
          <button class="sidebar__heading accordion-is-open"
            data-accordion-trigger="accordion-{{ link | handle }}-{{ forloop.index }}"
            aria-controls="accordion-{{ link | handle }}-{{ forloop.index }}"
            aria-haspopup="true" 
            aria-expanded="true"
            >
            <span>{{ link.title }}</span>
            
            <span class="sidebar__heading-chevron">
              {% render 'icon-arrow-medium-right' %}
              <span class="a11y__show visually-hidden">{{ 'general.accessibility.expand_menu' | t }}</span>
              <span class="a11y__hide visually-hidden">{{ 'general.accessibility.hide_menu' | t }}</span>
            </span>
          </button>

          <div class="sidebar__navigation__list" data-accordion-body id="accordion-{{ link | handle }}-{{ forloop.index }}">
            {% for childlink in link.links %}
              <div class="sidebar__item{% if childlink.active %} sidebar__item--active{% endif %} {% if forloop.index > 10 %} is-hidden{% endif %}">
                <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                {% render 'icon-box' %}
              </div>
            {% endfor %}
          </div>

          {% if link.links.size > 10 %}
            <button type="button" data-show-more>{{ 'collections.sidebar.show_more' | t }}</button>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    {% endunless %}

  {%- when 'collections' -%}
    {% if collections.size > 1 %}
      <div class="sidebar__filter__group" {{ block.shopify_attributes }}>
        <button class="sidebar__heading accordion-is-open"
          data-accordion-trigger="accordion-{{ block.id }}-{{ forloop.index }}"
          aria-controls="accordion-{{ block.id }}-{{ forloop.index }}"
          aria-haspopup="true" 
          aria-expanded="true"
        >
          <span>{{ block.settings.title }}</span>
          
          <span class="sidebar__heading-chevron">
            {% render 'icon-arrow-medium-right' %}
            <span class="a11y__show visually-hidden">{{ 'general.accessibility.expand_menu' | t }}</span>
            <span class="a11y__hide visually-hidden">{{ 'general.accessibility.hide_menu' | t }}</span>
          </span>
        </button>

        <ul class="sidebar__navigation__list" data-accordion-body id="accordion-{{ block.id }}-{{ forloop.index }}">
          {% for collection_link in collections %}
            {% unless collection_link.handle == 'frontpage' %}
              <li class="sidebar__item{% if collection.handle == collection_link.handle %} sidebar__item--active{% endif %} {% if forloop.index > 10 %} is-hidden{% endif %}">
                <a href="{{ routes.collections_url }}/{{ collection_link.handle }}">{{ collection_link.title }}</a>
                {% render 'icon-box' %}
              </li>
            {% endunless %}
          {% endfor %}
        </ul>

        {% if collections.size > 10 %}
          <button type="button" data-show-more>{{ 'collections.sidebar.show_more' | t }}</button>
        {% endif %}
      </div>
    {% endif %}
    {%- when 'group' -%}
      <div class="sidebar__filter__group" data-tag-group {{ block.shopify_attributes }}>
        {%- capture current_tags_url -%}
        {%- for tag in current_tags -%}{{ tag | handleize }}+{%- endfor -%}
        {%- endcapture -%}
        {%- if current_tags_url == '+' -%}{%- assign current_tags_url = '' -%}{%- endif -%}
        {% assign current_tags_compare = current_tags_url | prepend: '+' %}
    
        {%- capture shop_tags -%}
        {%- for tag in collection.tags -%}{{ tag | handleize }}+{%- endfor -%}
        {%- endcapture -%}
        {% assign shop_tags_compare = shop_tags | prepend: '+' %}
    
        {%- assign settings_tag_array = block.settings.group_tags | split: ',' -%}
        <button class="sidebar__heading accordion-is-open"
          data-accordion-trigger="accordion-{{ block.id }}-{{ forloop.index }}"
          aria-controls="accordion-{{ block.id }}-{{ forloop.index }}"
          aria-haspopup="true" 
          aria-expanded="true"
        >
          <span>{{ block.settings.title }}</span>
          <span class="sidebar__heading-chevron">
            {% render 'icon-arrow-medium-right' %}
            <span class="a11y__show visually-hidden">{{ 'general.accessibility.expand_menu' | t }}</span>
            <span class="a11y__hide visually-hidden">{{ 'general.accessibility.hide_menu' | t }}</span>
          </span>
        </button>
        <ul class="sidebar__navigation__list sidebar__navigation__list--grouped" data-accordion-body id="accordion-{{ block.id }}-{{ forloop.index }}">
          {%- for settings_tag in settings_tag_array -%}
            {% comment %} Normalize merchant settings input {% endcomment %}
            {%- assign settings_tag_handle = settings_tag | handleize -%}
            {%- assign settings_tag_handle_plus = settings_tag | handleize | append: '+' | prepend: '+' -%}
    
            {%- assign link_style = 'link--disable' -%}
    
            {% comment %} If tag is currently active setup URLs to remove tag {% endcomment %}
            {%- if current_tags_compare contains settings_tag_handle_plus -%}
              {%- assign link_style = 'link--remove' -%}
              {%- assign removed_tag_array = '' -%}
              {%- for product_tag in current_tags -%}
                {%- assign product_tag_handle = product_tag | handleize -%}
                {%- unless settings_tag_handle == product_tag_handle -%}
                  {%- assign removed_tag_array = removed_tag_array | append: product_tag_handle | append: '[!ヽ(´ー｀)/!]' -%}
                {%- endunless -%}
              {%- endfor -%}
              {%- assign removed_tag_array = removed_tag_array | split: '[!ヽ(´ー｀)/!]' -%}
              {%- capture removed_tag_url -%}
                {%- for tag in removed_tag_array -%}{{ tag | handleize }}{%- unless forloop.last -%}+{%- endunless -%}{%- endfor -%}
              {%- endcapture -%}
    
              <li class="sidebar__item sidebar__item--active {{ link_style }}">
                <a href="{{ routes.collections_url }}/{{ collection_handle }}/{{ removed_tag_url }}" title="✕ {{ settings_tag }}">
                  {{ settings_tag }}
                </a>
                {% render 'icon-box' %}
                {% render 'icon-reset' %}
              </li>
            {%- else -%}
              {% if shop_tags_compare contains settings_tag_handle_plus %}
                {%- assign link_style = 'link--add' -%}
              {%- endif -%}
              <li class="sidebar__item {{ link_style }}">
                <a href="{{ routes.collections_url }}/{{ collection_handle }}/{{ current_tags_url }}{{ settings_tag_handle }}" title="+ {{ settings_tag }}">
                  {{ settings_tag }}
                </a>
                {% render 'icon-box' %}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
  {%- endcase -%}
{%- endfor -%}
{% endcomment %}

{% for ttt in collection.metafields.my_fields.tag_exclusion.value %}

  {% assign exclusion_tag_list =  exclusion_tag_list | append: ttt %}
  {% unless forloop.last %}
  	{% assign exclusion_tag_list =  exclusion_tag_list | append: ', ' %}
  {% endunless %}

{% endfor %}

{% for available_tag in collection.metafields.my_fields.available_tag.value %}

  {% assign available_tag_list =  available_tag_list | append: available_tag %}
  {% unless forloop.last %}
  	{% assign available_tag_list =  available_tag_list | append: ',' %}
  {% endunless %}

{% endfor %}

{% assign available_tag_list =  available_tag_list | split: ',' %}


{% comment %}
{% if collection.all_tags.size > 0 %}
  <button class="tag-header" id="tag-header-button">Filters</button>
  <ul class="tag-filters" data-url="{{ collection.url }}">
    {% for tag in collection.all_tags %}
      {% if exclusion_tag_list contains tag %}
    	{% continue %}
      {% else %}
    	{% if current_tags contains tag %}
    	  <li class="tag-filters__item active">
            <a href="{{ routes.collections_url }}/{{ collection.handle }}/{{ tag | handleize }}">{{ tag }}</a>
            <span class="item_count" data-url="{{ routes.collections_url }}/{{ collection.handle }}"></span>
    	  </li>
        {% else %}
          <li class="tag-filters__item">
            <a href="{{ routes.collections_url }}/{{ collection.handle }}/{{ tag | handleize }}">{{ tag }}</a>
            <span class="item_count" data-url="{{ routes.collections_url }}/{{ collection.handle }}"></span>
    	  </li>
        {% endif %}
      {% endif %}
      
    {% endfor %}
  </ul>
{% endif %}
{% endcomment %}

<!-- collection filter for available tags from metafields -->
{% if collection.all_tags.size > 0 %}
  <button class="tag-header" id="tag-header-button">Filters</button>
  <ul class="tag-filters" data-url="{{ collection.url }}">
    {% for tag in available_tag_list %}
    
      {% if current_tags contains tag %}
        <li class="tag-filters__item active">
          <a href="{{ routes.collections_url }}/{{ collection.handle }}/{{ tag | handleize }}" data-own_filter="/{{ tag | handleize }}">{{ tag }}</a>
          <span class="close" data-own_filter="{{ tag | handleize }}">X</span>
          <span class="item_count" data-url="{{ routes.collections_url }}/{{ collection.handle }}"></span>
        </li>
      {% else %}
        <li class="tag-filters__item">
          <a href="{{ routes.collections_url }}/{{ collection.handle }}/{{ tag | handleize }}" data-own_filter="/{{ tag | handleize }}">{{ tag }}</a>
          <span class="close" data-own_filter="{{ tag | handleize }}">X</span>
          <span class="item_count" data-url="{{ routes.collections_url }}/{{ collection.handle }}"></span>
        </li>
      {% endif %}
      
    {% endfor %}
  </ul>
{% endif %}