<!-- /templates/customers/register.liquid -->
<div class="full__page__form__wrapper">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item text-center">
        <div class="full__page__form">
          <h1 class="account__form__title">{{ 'customer.register.title' | t }}</h1>
          {% form 'create_customer' %}

            {{ form.errors | default_errors }}

            <div class="float__wrapper">
              <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
              <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>
            </div>

            <div class="float__wrapper">
              <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
              <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
            </div>
          
            <div id="tags" class="float__wrapper">
              <label for="tags" class="login">Clinic Code <span class="slfe-clinic-code" style="font-size: 16px;font-weight: 600; padding: 0 6px 0 3px;position:relative;" title="If you visit a clinic or a medical spa, please enter their unique 10 digit code here">?</span></label>
              <input type="text" value="" name="customer[tags]" id="tags" placeholder="Clinic Code (If you were given a clinic code, enter it here)" class="large" size="30" />
            </div>

            <div class="float__wrapper">
              <label for="Email">{{ 'customer.register.email' | t }}</label>
              <input type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
            </div>

            <div class="float__wrapper">
              <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
              <input type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
            </div>

            <button type="submit" class="btn--outline uppercase btn--full">
              {{ 'customer.register.submit' | t }}
            </button>
            <div class="form--additional">
              <a class="text-link uppercase" href="{{ routes.account_login_url }}">
                {{ 'layout.customer.log_in' | t }}
              </a>
            </div>
            <hr>
            <div class="form__legal">
              {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
            </div> 
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(".slfe-clinic-code").click(function () {
    var $title = $(this).find(".title");
    if (!$title.length) {
        $(this).append('<span class="title" style="font-size: 10px;">' + $(this).attr("title") + '</span>');
    } else {
        $title.remove();
    }
});
</script>